# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# build outputs
.next
dist
build
out
storybook-static

# turbo
.turbo

# env files
.env
.env.local
.env.*.local
!.env.example

# testing
coverage

# misc
.DS_Store
*.pem
.idea
.vscode
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
